#Executaveis
*.ex5
#Outros
experts.dat
/Profiles
/Indicators
/Logs
/Files

/Include/Experts/
/Include/Generic/
/Include/Expert/
/Include/Graphics/
/Include/Indicators/
/Include/Math/
/Include/MovingAverages.mqh
/Include/OpenCL/
/Include/Strings/
/Include/VirtualKeys.mqh
/Include/WinAPI/
/Scripts/


/Include/Generic