#Executaveis
*.ex5
#Outros
experts.dat
/Profiles
/Indicators
/Images
/Experts
/Logs

/Include/Experts/
/Include/Arrays/
/Include/Canvas/
/Include/ChartObjects/
/Include/Charts/
/Include/Controls/
/Include/Expert/
/Include/Files/
/Include/Graphics/
/Include/Indicators/
/Include/Math/
/Include/MovingAverages.mqh
/Include/OpenCL/
/Include/Strings/
/Include/Tools/
/Include/VirtualKeys.mqh
/Scripts/


/Include/Generic